node_modules/
.env
.env.*
*.lock
*-lock.json
*.pem
logs/
dist/
build/
idea/
.idea/
target/
yarn.lock
package-lock.json
*/yarn.lock
*/package-lock.json
../package.json
../.yarn/
../.yarnrc.yml
../logs/

../lambdas/package.json
../lambdas/packaged.yaml

../udp-listener/.env
../udp-listener/logs/

../backend/.env
../backend/logs/

../frontend/.env
../frontend/logs/

.pnp.cjs
.pnp.loader.mjs
.yarn/