node_modules/
.env
.env.*
*/.env
*.lock
*-lock.json
logs/
dist/
build/
idea/
.idea/
target/
yarn.lock
package-lock.json

lambdas/shared-dependencies/dependency-reduced-pom.xml

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

/lambdas/.aws-sam/
/lambdas/shared-dependencies/dependency-reduced-pom.xml
