node_modules/
.env
.env.*
*/.env
*.lock
*-lock.json
logs/
dist/
build/
idea/
.idea/
target/
package-lock.json

# Yarn
.yarn/*
yarn.lock
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

lambdas/.aws-sam/
lambdas/shared-dependencies/dependency-reduced-pom.xml

backend/.yarn/
backend/backend-config.yaml
backend/iotmonsys.crt
backend/iotmonsys.key